 @font-face {
   font-family: "Gilroy";
   src: url("../src/assets/fonts/Gilroy-Black.ttf") format("truetype");
   font-weight: 900;
 }

 @font-face {
   font-family: "Gilroy";
   src: url("../src/assets/fonts/Gilroy-Bold.ttf") format("truetype");
   font-weight: 800;
 }

 @font-face {
   font-family: "Gilroy";
   src: url("../src/assets/fonts/Gilroy-Medium.ttf") format("truetype");
   font-weight: 700;
 }

 @font-face {
   font-family: "Gilroy";
   src: url("../src/assets/fonts/Gilroy-Regular.ttf") format("truetype");
   font-weight: 500;
 }

 body {
   background-color: #17161b;
 }

 /* this class will be toggled */
 .dark-mode {
   /* filter: invert(100%) */
   /* filter: invert(1) hue-rotate(180deg) */
   filter: invert(1) hue-rotate(180deg)
   /* background-color: #fff !important; */
 }
 .invert {
   /* filter: invert(100%) */
   filter: invert(1) hue-rotate(180deg)
 }

 * {
   /* outline: 1px solid white; */
 }