 @font-face {
   font-family: "Gilroy";
   src: url("../src/assets/fonts/Gilroy-Black.ttf") format("truetype");
   font-weight: 900;
 }

 @font-face {
   font-family: "Gilroy";
   src: url("../src/assets/fonts/Gilroy-Bold.ttf") format("truetype");
   font-weight: 800;
 }

 @font-face {
   font-family: "Gilroy";
   src: url("../src/assets/fonts/Gilroy-Medium.ttf") format("truetype");
   font-weight: 700;
 }

 @font-face {
   font-family: "Gilroy";
   src: url("../src/assets/fonts/Gilroy-Regular.ttf") format("truetype");
   font-weight: 500;
 }

 body {
   background-color: #17161b;
 }

 * {
   /* outline: 1px solid white; */
 }